<html>
    <head>
        <link rel="stylesheet" href="style.css" type="text/css"/> <!--For test in our web browser-->
    </head>
    <body>
        <div id="pos-ticket">
            <div id="header">
                <t esc="order_name"  /><br/>
                <t esc="company_name"  /><br/>
                <t   esc="company_registry"/><br/>
            </div>
            <div id="products"></div>
            <div id="resume"></div>
            <div id="footer"></div>
        </div>
    </body>
</html>
